@screen-sm: 576px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;

@screen-xs-max: 575px;
@screen-sm-max: 767px;
@screen-md-max: 991px;
@screen-lg-max: 1199px;

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}


// === About Us page ===/

#page-insert-elem-27636.rtl {
  text-align: right;
  direction: rtl;

  .content {
    .main-content {
      .section-inner {
        .menu {
            flex-direction: column-reverse;
        }
      }

      .content-el {
        padding-right: 16px;
        padding-left: 0;
      }
    }
  }

  .glider-dots {
    direction: ltr;
  }

  .header {
    flex-direction: row-reverse;
  }
}

#page-insert-elem-27637.rtl {
  text-align: right;
  direction: rtl;

  .content {
    .main-content {
      .section-inner {
        .menu {
          flex-direction: column-reverse;
        }
      }

      .content-el {
        padding-right: 16px;
        padding-left: 0;
      }
    }
  }

  .glider-dots {
    direction: ltr;
  }

  .header {
    flex-direction: row-reverse;
  }
}

#page-insert-elem-27636 {
  @import "normalize";

  .font-ubuntu();

  .section-outer {
    padding-left: 38px;
    padding-right: 30px;

    .section-inner {
      display: flex;
      width: 100%;
      margin: 0 auto;

      .menu {
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);

        margin-top: 36px;
        overflow-y: hidden;

        margin-bottom: 21px;

        .content-el {
          padding: 0 16px;
        }

        .elem-menu {
          text-align: center;
          vertical-align: middle;
          justify-content: center;
          padding: 14px 0;
          background-color: white;
          cursor: pointer;
          height: 20px;
          margin-bottom: 16px;
          font-size: 16px;
          line-height: 18px;
          font-weight: 500;
          color: #c0c0c0;
        }

        .active {
          border-bottom: 2px solid #1a2f43;
          color: #1a2f43;
          transition: .5s;
        }

      }

      .content-el{

        padding: 0 16px;
        margin-top: 29px;

        .text {
          width: 300px;
          font-size: 18px;
          line-height: 21px;
          font-weight: 500;
          color: #1a2f43;
        }

        .subheader {
          font-size: 14px;
          font-weight: 300;
          color: #1a2f43;
          margin-bottom: 24px;
          line-height: 20px;
        }
      }

      .content-el.active {
        display: block;
      }
    }

  }

  // mobile devices IPhone 5,6,7,8, Galaxy
  @media only screen and (max-width: @screen-xs-max) {

    .section-outer{
      padding: 0 16px;

      .section-inner {
        flex-direction: column;

        .menu {
          display: flex;
          align-items: center;
          margin-top: 10px;
          margin-bottom: 0;

          .elem-menu {
            display: inline-block;
            width: 114px;
            margin: 0 auto;
          }
        }

        .content-el {
          margin-top: 12px;
        }

      }
    }

    .header .title {
      width: 100%;
      height: 22px;
    }

    .main-content {
      img {
        width: 100%;
      }
    }

    .main-content .text {
      width: 100%;
    }

    .main-content .subheader {
      width: 100%;
    }
  }

  @media only screen and (min-width: @screen-sm) {

    .main-content {
      display: flex;
      margin: 0 auto;

      .section-inner {

        .menu {
          .elem-menu {
            width: 114px;
          }
        }

        .content-el {
          width: 100%;
          img {
            width: 100%;
          }

          .subheader {
            width: 100%;
            display: flex;
            margin-bottom: 24px;
          }

          .text {
            width: 100%;
            height: 21px;
          }

        }
      }
    }
  }
}

// === /About us page ===


// === Gallery ===

#page-insert-elem-27637 {

  @import "glider";
  @import "normalize";

  .font-ubuntu();

  .section-outer {

    padding-right: 4%;
    padding-left: 4%;

    .section-inner {
      display: flex;
      width: 100%;
      margin: 0 auto;


      .menu {
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
        margin-top: 36px;
        overflow-y: hidden;

        margin-bottom: 21px;

        .content-el {
          padding: 0 16px;
        }

        .elem-menu {
          text-align: center;
          vertical-align: middle;
          justify-content: center;
          padding: 14px 0;
          background-color: white;
          cursor: pointer;
          height: 20px;
          margin-bottom: 16px;
          font-size: 16px;
          line-height: 18px;
          font-weight: 500;
          color: #c0c0c0;
        }

        .active {
          border-bottom: 2px solid #1a2f43;
          color: #1a2f43;
          transition: .5s;
        }

      }

      .content-el{

        padding: 0 16px;
        margin-top: 29px;

        .text {
          width: 300px;
          font-size: 18px;
          line-height: 21px;
          font-weight: 500;
          color: #1a2f43;
        }

        .subheader {
          font-size: 14px;
          font-weight: 300;
          color: #1a2f43;
          margin-bottom: 24px;
          line-height: 20px;
        }
      }

      .content-el.active {
        display: block;
      }
    }

  }

      .section-outer{


      .section-inner {
        flex-direction: column;

        .menu {
          display: flex;
          align-items: start;
          margin-top: 10px;
          margin-bottom: 0;

          .elem-menu {
            display: inline-block;
            padding: 12px;
          }
        }

        .content-el {
          margin-top: 12px;
        }

      }
    }

    .header .title {
      width: 100%;
      height: 22px;
    }

    .main-content {
      img {
        width: 100%;
      }
    }

    .main-content .text {
      width: 100%;
    }

    .main-content .subheader {
      width: 100%;
    }

    .slider-container {
      padding-top: 40px;
      width: 75%;
      position: relative;
      margin: 0 auto;
      vertical-align: baseline;
    }

  .slider-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    background-size: cover;
    cursor: pointer;
  }

  .slider-img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .slider-container {
    width: 100%;
  }

  @media only screen and (max-width: @screen-lg) {

  }

  @media only screen and (min-width: @screen-sm-max) {
    .slider-img {
      width: 97%;
    }
  }
}


// === /Gallery ===
